#priceFilter {
    background-color: rgba(210,210,210,0.5);
    box-shadow: 3px 3px 20px -3px rgba(0,0,0,0.68);
    -webkit-box-shadow: 5px 5px 12px -3px rgba(0,0,0,0.68);
    -moz-box-shadow: 3px 3px 20px -3px rgba(0,0,0,0.68);
}