.soldOut {
    position: absolute;
    top: 30%; 
    color: white; 
    background-color: black; 
    width: 100%; 
    font-size: 30px;
    padding: 10px 0;
    opacity: 0.6;
}

.count{
    color: white;
    width: 25px;
    font-size: 15px;
    left: 20px;
    bottom: 15px;
    position: absolute;
    text-align: center;
    background-color: red;
    border-radius: 50%;
  }
  